<table>
  <thead>
    <tr><th>Recent Posts</th></tr>
  </thead>
  <tbody>
  {{#each pagedContent}}
    <tr><td>{{title}} by {{author}}</td></tr>
  {{/each}}
  </tbody>
  {{page-numbers content=pagedContent showFL=true}}
</table>
